<!--<nav class="nav-wrapper" ng-controller="HomePageAppCtrl as ctrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="left hide-on-med-and-down">
                <li ng-show="ctrl.isUserLogon"><a ui-sref="weddinggram">Wedding-Gram</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-lock " aria-hidden="true"></i> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-hide="ctrl.isUserLogon"><a ui-sref="SignIn">Sign In</a></li>
                        <li ng-hide="ctrl.isUserLogon"><a ui-sref="SignUp">Sign Up</a></li>
                        <li ng-show="ctrl.isUserLogon"><a ui-sref="MyAccount">My Account</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>-->

<nav class="nav has-shadow" ng-controller="HomePageAppCtrl as ctrl">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        <img src="/assets/images/logotransback.png" alt=""/>
      </a>
      <a ui-sref="weddinggram" class="nav-item is-tab is-hidden-mobile">Home</a>
      <a ui-sref="guests" class="nav-item is-tab is-hidden-mobile">Guests</a>
      <a ui-sref="seatings" class="nav-item is-tab is-hidden-mobile">Seating</a>
      <a ui-sref="aboutus" class="nav-item is-tab is-hidden-mobile">About Us</a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a class="nav-item is-tab is-hidden-tablet is-active">Home</a>
      <a class="nav-item is-tab" ng-hide="ctrl.isUserLogon" ui-sref="SignIn">Sign In</a>
      <a class="nav-item is-tab" ng-hide="ctrl.isUserLogon" ui-sref="SignUp">Sign In</a>
      <a class="nav-item is-tab" ng-show="ctrl.isUserLogon" ui-sref="MyAccount">My Account</a>
    </div>
  </div>
</nav>